@model CreateStationViewModel

@section Styles {
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}

<div class="container-fluid px-4 mt-4">
    <div class="d-flex justify-content-between">
        <h1 class="mt-4">Add New Station</h1>
        
    </div>
<form asp-action="Create" class="m-5 p-5">

    <div class="row">

        <div class="form-floating col-md-6 pb-2">
            <select  asp-items="@ViewBag.Branches" class="form-select js-select2Single "  asp-for="BranchId">
                <option selected value="">Choose..</option>
            </select>
            <span asp-validation-for="BranchId" class="text-danger d-block"></span>
        </div>
        <div class="form-floating col-md-6 pb-2">
            <select  asp-items="@ViewBag.SanitaryDrains" class="form-select js-select2Single "  asp-for="SanitaryDrainId">
                <option selected value="">Choose..</option>
            </select>
            <span asp-validation-for="SanitaryDrainId" class="text-danger d-block"></span>
        </div>
        <div class="form-floating col-md-6 pb-2">
            <input type="text" class="form-control" placeholder="" asp-for="Name" />
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name" class="text-danger d-block"></span>
        </div>
        <div class="form-floating col-md-6 pb-2">
            <input type="number" class="form-control" placeholder="" asp-for="NumberOfStages" />
            <label asp-for="NumberOfStages"></label>
            <span asp-validation-for="NumberOfStages" class="text-danger d-block"></span>
        </div>
        <div class="form-floating col-md-6 pb-2">
            <select asp-items="@ViewBag.ProcessingSystem" class="form-select js-select2Single " asp-for="ProcessingSystemId">
                <option selected value="">Choose..</option>
            </select>
            <label asp-for="ProcessingSystemId"></label>
            <span asp-validation-for="ProcessingSystemId" class="text-danger d-block"></span>
        </div>
        <div class="form-floating col-md-6 pb-2">
            <select asp-items="@ViewBag.ProcessingType" class="form-select js-select2Single " asp-for="ProcessingTypeId">
                <option selected value="">Choose..</option>
            </select>
            <label asp-for="ProcessingTypeId"></label>
            <span asp-validation-for="ProcessingTypeId" class="text-danger d-block"></span>
        </div>
        <div class="form-floating col-md-6 pb-2">
            <select asp-items="@ViewBag.StationStatus" class="form-select js-select2Single " asp-for="StationStatusId">
                <option selected value="">Choose..</option>
            </select>
            <label asp-for="StationStatusId"></label>
            <span asp-validation-for="StationStatusId" class="text-danger d-block"></span>
        </div>
        <div class="form-floating col-md-6 pb-2">
            <input type="number" class="form-control" placeholder="" asp-for="DesignEnergy" />
            <label asp-for="DesignEnergy"></label>
            <span asp-validation-for="DesignEnergy" class="text-danger d-block"></span>
        </div>
       
       
    </div>

    <partial name="_ModelFooter" />

</form>
</div>

            @section Plugins {

    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}