@model IEnumerable<LaboratoryExperiments.Web.Data.ViewModels.StationViewModel>
@section Styles {
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}
<div class="container-fluid px-4 mt-4">
    <div class="d-flex justify-content-between">
        <h1 class="mt-4">Stations</h1>
        <div class="mt-4">
            <a id="btn"  class="btn btn-primary " asp-action="Create">Add Station</a>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <table class="table table-striped table-hover" id="stationTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Branch</th>
                        <th>Sanitary Drain</th>
                        <th>Number Of Stages</th>
                        <th>Processing Type</th>
                        <th>Processing System</th>
                        <th>Design Flow</th>                       
                        <th>Station Status</th>
                        <th>Actions</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Branch</td>
                            <td>@item.SanitaryDrain</td>
                            <td>@item.NumberOfStages</td>
                            <td>@item.ProcessingType</td>
                            <td>@item.ProcessingSystem</td>
                            <td>@item.DesignEnergy</td>
                            <td>@item.StationStatus</td>
                            <td>
                                <div class="menu-item px-3 js-Delete"
                                     data-url="/Stations/Delete/@item.Id">
                                    <a class="btn btn-danger js-render-modal">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Plugins {

    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
}
@section Scripts {
   
    <script>
        $(document).ready(function () {
            let table = new DataTable('#stationTable')
        })
    </script>
}